{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>{% block title %}Siddhartha Vilasa Banbas{% endblock %}</title>
    <link href="{% static 'core/css/styles.css' %}" rel="stylesheet">   
</head>
<body>
        {% block content %}
        
        {% endblock %}
</body>
</html>

{% comment %} <div class='logo-container'>
            <div>
                <img src="{% static 'core/images/banbas_logo_transparent.png' %}" alt="Logo">
            </div>
            <div>
            <div class='reserve-container'>
                <button class="reserve-btn">Reserve</button>
            </div>
        </div>
        </div>
        <nav>
         <a href="{% url 'home' %}">Home</a>
         <a href="/blog/">Blog</a>
         <a href="/reservation/">Reservation</a>
        </nav> {% endcomment %}

{% comment %} <footer>© 2025 Siddhartha Vilasa Banbas</footer> {% endcomment %}