* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f7f7f7;
    color: #333;
}

.hero {
    padding: 100px;
}

.hero__title{
    color: black;
}

.hero__description{
    color: #81d876;
}

#hero__highlight{
    color: #f7f7f7;
}